.featuredItem {
    position: relative;
    align-items: center;
}

.featuredItem:not(:last-of-type) {
    margin-block-end: var(--spacing-24x);
}

.projectContent {
    position: relative;
    grid-column: 7 / -1;
    text-align: right;
}

.contentLeft {
    grid-column: 1 / 8;
    text-align: left;
}

.projectOverline {
    margin-block: var(--spacing-2x);
    color: var(--color-green);
    font-family: var(--font-family-mono);
    font-size: var(--fz-xs);
    font-weight: 400;
}

.projectTitle {
    font-size: var(--fz-xxxl);
    margin-block-end: var(--spacing-5x);
}

.projectTech {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    padding: 0;
    list-style: none;
    justify-content: flex-end;
    margin-block-start: var(--spacing-6x);
    margin-block-end: var(--spacing-2x);
}

.techLeft {
    justify-content: flex-start;
}

.techItem {
    color: var(--color-light-grey);
    font-family: var(--font-family-mono);
    font-size: var(--fz-xs);
    white-space: nowrap;
    margin-inline-start: var(--spacing-5x);
    margin-block-end: var(--spacing-1x);
}

.techItemLeft {
    margin-inline-start: 0;
    margin-inline-end: var(--spacing-5x);
}

.projectLinks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-block-start: var(--spacing-2x);
    margin-inline-end: -1rem;
    color: var(--color-lightest-grey);
}

.projectLinksLeft {
    justify-content: flex-start;
}

.projectLinks a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-2x);
    width: 2.2rem;
    height: 2.2rem;
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: inherit;
    transition: var(--transition);
}

.projectLinks a:hover, .projectLinks a:focus {
    color: var(--color-green);
}

.projectContent, .projectImage {
    grid-row: 1 / 2;
}

.projectImage {
    box-shadow: 0 10px 30px -15px var(--color-navy-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    grid-column: 1 / 9;
}

.projectImage:hover {
    box-shadow: 0 20px 30px -15px var(--color-navy-shadow);
}

.imageRight {
    grid-column: 6 / -1;
}

.imageWrapper {
    box-shadow: 0 1rem 3rem -1.5rem var(--color-navy-shadow);
    transition: var(--transition);
    display: block;
    position: relative;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--color-green);
}

.imageWrapper:hover, .imageWrapper:focus {
    outline: 0;

    .image {
        filter: none;
        mix-blend-mode: normal;
    }
}

.imageWrapper::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    top: 0;
    left: 0;
    background-color: var(--color-navy);
    mix-blend-mode: screen;
}

.image {
    position: relative;
    border-radius: var(--border-radius);
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
    transition: var(--transition);
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    z-index: 1;
}
