@font-face {
    font-family: "Acumin Pro";
    src: url("/fonts/Acumin-RPro.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Acumin Pro";
    src: url("/fonts/Acumin-BdPro.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Hammersmith One";
    src: url("/fonts/HammersmithOne-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/poppins-light-webfont.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}