@import url("colors.css");
@import url("typography.css");
@import url("fonts.css");

:root {
  /* Fonts */
  --font-family-primary:  'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
  --font-family-primary-bold:  'Calibre Semibold','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
  --font-family-mono: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
  --fz-xxs: 1.2rem;
  --fz-xs: 1.3rem;
  --fz-sm: 1.4rem;
  --fz-md: 1.6rem;
  --fz-lg: 1.8rem;
  --fz-xl: 2rem;
  --fz-xxl: 2.2rem;
  --fz-xxxl: 2.8rem;
  --fz-heading: 3.2rem;

  /* Spacing (4px steps) */
  --spacing-1x: 0.4rem;
  --spacing-2x: 0.8rem;
  --spacing-3x: 1.2rem;
  --spacing-4x: 1.6rem;
  --spacing-5x: 2rem;
  --spacing-6x: 2.4rem;
  --spacing-7x: 2.8rem;
  --spacing-8x: 3.2rem;
  --spacing-9x: 3.6rem;
  --spacing-10x: 4rem;
  --spacing-11x: 4.4rem;
  --spacing-12x: 4.8rem;
  --spacing-13x: 5.2rem;
  --spacing-14x: 5.6rem;
  --spacing-15x: 6rem;
  --spacing-16x: 6.4rem;
  --spacing-17x: 6.8rem;
  --spacing-18x: 7.2rem;
  --spacing-19x: 7.6rem;
  --spacing-20x: 8rem;
  --spacing-24x: 9.6rem;
  --spacing-30x: 12rem;

  /* Global variables */
  --border-radius: 4px;
  --easing: cubic-bezier(0.645,0.045,0.355,1);
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --nav-height: 10rem;
  --nav-scroll-height: 7rem;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--font-family-primary);
  background-color: var(--color-navy);
  color: var(--color-grey);
  overflow-x: hidden;
}

body {
  font-size: 2rem;
  position: relative;
  max-width: 100%;
  margin: 0;
}

.stack {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-height: 100vh;
  justify-content: space-between;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  min-height: fit-content;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-grey);
  border: 3px solid var(--color-navy);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-lightest-navy); 
}

::-webkit-scrollbar-track {
    background: var(--color-navy);
}