.tableContainer {
    margin-block: var(--spacing-12x);
    font-family: var( --font-family-primary-bold);
    margin-inline-start: -1.2rem;

    @media (min-width: 768px) {
        margin-block: var(--spacing-25x);
        margin-inline-start: -2rem;
    }
}
