.SideElement {
    width: 4rem;
    position: fixed;
    bottom: 0;
    z-index: 10;
    color: var(--color-light-grey);
}

.left {
    left: 4rem;
    right: auto;
}

.right {
    left: auto;
    right: 4rem;
}

.socials {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.socials::after {
    content: "";
    display: block;
    width: 1px;
    height: 9rem;
    margin: 0px auto;
    background-color: var(--color-light-grey);
}

.socials li a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.socials li a svg {
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    transition: var(--transition);
}

.socials li a svg:hover, .socials li a svg:focus {
    transform: translateY(-3px);
    color: var(--color-green);
}

.mail {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.mail::after {
    content: "";
    display: block;
    width: 1px;
    height: 9rem;
    margin: 0px auto;
    background-color: var(--color-light-grey);
}

.mail a {
    margin: var(--spacing-5x) auto;
    padding: var(--spacing-2x);
    font-family: var(--font-family-mono);
    font-size: var(--fz-xxs);
    line-height: var(--fz-lg);
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    text-decoration: none;
    color: inherit;
    transition: var(--transition);
}

.mail a:hover, .mail a:focus {
    color: var(--color-green);
    transform: translateY(-3px);
}