.button,
.link {
    color: var(--color-green);
    transition: var(--transition);
    text-decoration: none;
}

.button {
    background-color: transparent;
    border: 1px solid var(--color-green);
    border-radius: var(--border-radius);
    padding: 1.25rem 1.75rem;
    font-size: var(--fz-sm);
    font-family: var(--font-family-mono);
    line-height: 1;
}

.button:hover {
    outline: 0;
    box-shadow: -4px -4px var(--color-green);
    transform: translate(5px, 5px);
}

.link {
    display: inline-block;
    position: relative;
}

.link::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    position: relative;
    background-color: var(--color-green);
    transition: var(--transition);
}

.link:hover::after {
    width: 100%;
}

.link:hover {
    cursor: pointer;
    outline: 0px;
}
