.tabListWrapper {
    grid-column: 1 / -1;
    margin-block-end: var(--spacing-6x);

    @media (min-width: 600px) {
        grid-column: 1 / 4;
    }
}

.tabPannelWrapper {
    grid-column: 1 / -1;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 600px) {
        grid-column: 4 / -1;
    }
}
