.tabList {
    width: 100%;
    display: flex;
    position: relative;
    z-index: 3;

    @media (min-width: 600px) {
        width: max-content;
        flex-direction: column;
    }
}

.highlight {
    top: auto;
    bottom: 0;
    width: calc(100% / var(--list-length));
    min-width: 10rem;
    height: 2px;

    position: absolute;
    left: 0;
    z-index: 10;
    border-radius: var(--border-radius);
    background: var(--color-green);
    transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
    transform: translateX(calc(100% * var(--active-item-index)));

    @media (min-width: 600px) {
        top: 0;
        height: var(--tab-height);
        width: 2px;
        min-width: 0;
        transform: translateY(calc(var(--active-item-index) * var(--tab-height)))
    }
}