.projectCollection {
    text-align: start;
    list-style: none;
    padding: 0;
    margin-block-start: var(--spacing-12x);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.item {
    transition: var(--transition);
}

.item:hover {
    transform: translateY(-8px);
}