.content {
    grid-column: 1 / 9;
}

.content p {
    margin-block-end: var(--spacing-3x);
}

.techList {
    display: grid;
    grid-template-columns: repeat(2, minmax(14rem, 20rem));
    column-gap: 1.2rem;
    list-style: none;
    padding: 0;
    margin-block-start: var(--spacing-5x);
    margin-block-end: 0;
}

.techList li {
    position: relative;
    margin-block-end: var(--spacing-2x);
    padding-inline-start: var(--spacing-5x);
    font-family: var(--font-family-mono);
    font-size: var(--fz-xs);
}

.techList li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: var(--color-green);
    font-size: var(--fz-sm);
    line-height: 1.2rem;
}

.profileImage {
    grid-column: 9 / -1;
    max-width: 30rem;
    position: relative;
}

.imageWrapper {
    box-shadow: 0 1rem 3rem -1.5rem var(--color-navy-shadow);
    transition: var(--transition);
    display: block;
    position: relative;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--color-green);
}

.imageWrapper:hover, .imageWrapper:focus {
    outline: 0;
    transform: translate(0.4rem, 0.4rem);

    .image {
        filter: none;
        mix-blend-mode: normal;
    }
}

.imageWrapper:hover::after {
    transform: translate(-0.8rem, -0.8rem);
}

.imageWrapper::before, .imageWrapper::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.imageWrapper::before {
    top: 0;
    left: 0;
    background-color: var(--color-navy);
    mix-blend-mode: screen;
}

.imageWrapper::after {
    border: 2px solid var(--color-green);
    top: 1.4rem;
    left: 1.4rem;
    z-index: 0;
}

.image {
    position: relative;
    border-radius: var(--border-radius);
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
    transition: var(--transition);
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    z-index: 1;
}
