.menu {
    display: block;

    @media (min-width: 768px) {
        display: none;
    }
}

.hamburgerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-right: -15px;
    padding: 15px;
    border: 0;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
    cursor: pointer;
}

.hamBox {
    display: inline-block;
    position: relative;
    width: var(--hamburger-width);
    height: 24px;
}

.hamBoxInner {
    position: absolute;
    top: 50%;
    right: 0;
    width: var(--hamburger-width);
    height: 2px;
    border-radius: var(--border-radius);
    background-color: var(--color-green);
    transition: transform 0.22s cubic-bezier(--transition-timing-function) var(--transition-delay);
    transform: rotate(var(--transform-rotation));
}

.hamBoxInner::before, .hamBoxInner::after {
    content: "";
    display: block;
    position: absolute;
    left: auto;
    right: 0;
    width: var(--hamburger-width);
    height: 2px;
    border-radius: 4px;
    background-color: var(--color-green);
    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform;
}

.hamBoxInner::before {
    width: var(--inner-before-width);
    top: var(--inner-before-top);
    opacity: var(--inner-before-opacity);
    transition: var(--inner-before-transition);
}

.hamBoxInner::after {
    width: var(--inner-after-width);
    bottom: var(--inner-after-bottom);
    transform: rotate(var(--inner-after-transform));
    transition: var(--inner-after-transition);
}

.aside {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 50px 10px;
    width: min(75vw, 400px);
    height: 100vh;
    outline: 0;
    background-color: var(--color-light-navy);
    box-shadow: -10px 0 30px -15px var(--navy-shadow);
    z-index: 9;
    transition: var(--transition);
    transform: translateX(var(--aside-transform));
    visibility: var(--aside-visibility);
    
    @media (min-width: 768px) {
        display: none;
    }
}
