.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    height: 100vh;
    padding: 0px;

    margin: 0px auto;
    max-width: 1000px;
}

.h1 {
    margin-block-end: var(--spacing-8x);
    margin-inline-start: var(--spacing-1x);
}

.h2 {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8x);
    margin-block-start: var(--spacing-2x);
}

.text {
    max-width: 54rem;
}

.button {
    width: fit-content;
}
