.nav {
    height: var(--nav-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    z-index: 11;
    width: 100%;
    background-color: rgba(10, 25, 47, 0.85);
    backdrop-filter: blur(10px);
    transition: var(--transition);
}

.hidden {
    transform: translateY(-100%);
}

.visible {
    transform: translateY(0);
}

.small {
    height: var(--nav-scroll-height);
    box-shadow: 0 10px 30px -10px var(--color-navy-shadow);
}

.innerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    counter-reset: item 0;
    z-index: 12;
    color: var(--color-lightest-grey);
    font-family: var(--font-family-mono);
    padding-inline: var(--spacing-6x);

    @media (min-width: 768px) {
        padding-inline: var(--spacing-10x);
    }

    @media (min-width: 1024px) {
        padding-inline: var(--spacing-12x);
    }
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 5rem;
    gap: var(--spacing-2x);
}

.logo svg {
    transition: var(--transition);
}

.logo:hover svg {
    transform: translate(4px, -4px);
}

.logo:hover .logoText {
    color: var(--color-green);
}

.logoText {
    font-size: var(--fz-xxl);
    transition: var(--transition);
    display: none;

    @media (min-width: 480px) {
        display: block;
    }

    @media (min-width: 768px) {
        display: none;
    }

    @media (min-width: 1024px) {
        display: block;
    }
}
