.nav {
    height: var(--nav-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    z-index: 11;
    width: 100%;
    background-color: rgba(10, 25, 47, 0.85);
    backdrop-filter: blur(10px);
    transition: var(--transition);
}

/* Breakpoints: 1920, 1440, 1024, 768, 480 */

.hidden {
    transform: translateY(-100%);
}

.visible {
    transform: translateY(0);
}

.small {
    height: var(--nav-scroll-height);
    box-shadow: 0 10px 30px -10px var(--color-navy-shadow);
}

.innerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    counter-reset: item 0;
    z-index: 12;
    color: var(--color-lightest-grey);
    font-family: var(--font-family-mono);
    padding: 0 var(--spacing-12x);
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 5rem;
    gap: var(--spacing-2x);
}

.logo svg {
    transition: var(--transition);
}

.logo:hover svg {
    transform: translate(4px, -4px);
}

.logo:hover .logoText {
    color: var(--color-green);
}

.logoText {
    font-size: var(--fz-xxl);
    transition: var(--transition);
    display: none;

    @media (min-width: 480px) {
        display: block;
    }

    @media (min-width: 768px) {
        display: none;
    }

    @media (min-width: 1024px) {
        display: block;
    }
}

.actions {
    display: none;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
        display: flex;
    }
}

.menu {
    display: block;

    @media (min-width: 768px) {
        display: none;
    }
}

.actions ol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.actions ol li {
    margin: 0 var(--spacing-1x);
    position: relative;
    counter-increment: item 1;
    font-size: var(--fz-xs);
}

.actions ol li a {
    padding: 1rem;
}

.actions ol li a:hover, .actions ol li a:focus {
    color: var(--color-green);
    cursor: pointer;
}

.actions ol li a::before {
    content: "0" counter(item) ".";
    color: var(--color-green);
    font-size: var(--fz-xxs);
    text-align: right;
    margin-inline-end: var(--spacing-1x);
}

.button {
    margin-left: var(--spacing-3x);
}

.hamburgerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-right: -15px;
    padding: 15px;
    border: 0px;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
    cursor: pointer;
}

.hamBox {
    display: inline-block;
    position: relative;
    width: var(--hamburger-width);
    height: 24px;
}

.hamBoxInner {
    position: absolute;
    top: 50%;
    right: 0px;
    width: var(--hamburger-width);
    height: 2px;
    border-radius: var(--border-radius);
    background-color: var(--color-green);
    transition-duration: 0.22s;
    transition-property: transform;
    transition-delay: 0s;
    transform: rotate(0deg);
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamBoxInner::before, .hamBoxInner::after {
    content: "";
    display: block;
    position: absolute;
    left: auto;
    right: 0px;
    width: var(--hamburger-width);
    height: 2px;
    border-radius: 4px;
    background-color: var(--color-green);
    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform;
}

.hamBoxInner::before {
    width: 120%;
    top: -10px;
    opacity: 1;
    transition: var(--ham-before);
}

.hamBoxInner::after {
    width: 80%;
    bottom: -10px;
    transform: rotate(0deg);
    transition: var(--ham-after);
}